services:
  db:
    image: postgres:13
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - ./storage/db:/var/lib/postgresql/data
    networks:
      - music

  backend:
    build: .
    ports:
      - "8000:8000"
    depends_on:
      - db
    networks:
      - music

  frontend:
    build: .
    ports:
      - "3000:3000"
    depends_on:
      - backend
    networks:
      - music

  nginx:
    build: nginx:alpine
    ports:
      - "8000:8000"
    depends_on:
      - backend
      - frontend
    networks:
      - music

  rabbitmq:
    image: rabbitmq:3.8-management-alpine
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - music

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    depends_on:
      - db
    networks:
      - music
